@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
h2 span {
  color: #3fc0d1;
}
h1 {
  font-size: 4rem;
}
h1 span {
  font-weight: 200;
}
p {
  font-size: 1.6rem;
  line-height: 2;
}

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 50px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 70px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
button {
  cursor: pointer;
  background: #00b6cb;
  color: #fff;
  padding: 1rem 3.5rem;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 30px;
}
button:hover {
  opacity: 0.9;
}
.toggle {
  display: none;
  position: absolute;
  top: 70px;
  right: 35px;
  width: 60px;
  height: 60px;
  background: url("../img/icons/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url("../img/icons/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}
/* carousel */

.slideshow-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100vh;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  color: #005c5f;
  font-size: 4rem;
  transition: 0.7s ease;
  user-select: none;
}
.prev:hover,
.next:hover {
  color: #00c9d0;
}
.down {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  padding: 12px;
  color: #005c5f;
  font-size: 2.5rem;
  transition: 0.7s ease;
  user-select: none;
}
.down:hover {
  opacity: 0.9;
}
/* Position the "next button" to the right */
.next {
  right: 250px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 250px;
  border-radius: 3px 0 0 3px;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* The dots/bullets/indicators */
.dots {
  position: absolute;
  z-index: 3;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}
.dot.one {
  left: 50%;
}
.active,
.dot:hover {
  background-color: #118696;
}

/* SECTION */
h3 {
  color: #444;
  font-size: 4rem;
  font-weight: 200;
  padding: 10px 10px;
  margin: 100px 0 10px;
  text-align: center;
}
h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #222;
}
section .about-info {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem;
}
section .line {
  height: 2px;
  background-color: #17daa2;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}
button.btn-section {
  background-color: #17daa2;
  display: block;
  margin: auto;
  margin-bottom: 150px;
}
section .boxes {
  width: 85%;
  margin: 200px auto 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 3rem;
}
.boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-info {
  font-size: 1.1rem;
  text-align: center;
  line-height: 2;
}
.box i {
  font-size: 3rem;
  background: #ddd;
  color: #333;
  padding: 4rem;
  margin-bottom: 40px;
  border-radius: 50%;
  transition: 0.3s ease;
}
.box:hover i {
  background: #17daa2;
  color: #fff;
}

/* article */
.article-one {
  padding: 50px 0;
  background: #f3f3f3;
}
.article-two {
  padding: 50px 0;
  background: #fff;
}
.article-inside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 150px auto;
}
.article-info {
  width: 50%;
}
.article-image img {
  width: 500px;
}
h5 {
  font-size: 4rem;
  color: #444;
  font-weight: 200;
}
.article-info p {
  color: #444;
}
.btn-article {
  background: #17daa2;
}

/* MEDIA Q */

@media (max-width: 1280px) {
  header {
    padding: 50px 50px;
  }
  h1 {
    font-size: 3rem;
  }
  .prev,
  .next {
    padding: 10px;
    font-size: 2rem;
  }
  .next {
    right: 50px;
  }
  .prev {
    left: 50px;
  }
  section .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .article-inside {
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
  .article-inside.reverse {
    flex-direction: column-reverse;
  }
  .article-image {
    margin-top: 50px;
  }
  .btn-article {
    margin: 50px 0;
  }
}
@media (max-width: 890px) {
  nav {
    display: none;
  }
  .dots {
    display: none;
  }
  .toggle {
    display: block;
  }
  .menu {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #d7f6fa;
    width: 60%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.95;
    transform: translateX(-600px);
    transition: transform 0.5s ease-in-out;
  }
  .menu ul {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu ul li {
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  .menu ul li a {
    color: #222;
  }
  .menu.active {
    transform: translateX(-20px);
  }
  header {
    padding: 50px 50px;
  }
  h1 {
    font-size: 3rem;
  }
  .prev,
  .next {
    padding: 10px;
    font-size: 2rem;
  }
  .next {
    right: 50px;
  }
  .prev {
    left: 50px;
  }
  section .boxes {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  header {
    padding: 20px 20px;
  }
  h1 {
    font-size: 2rem;
  }
  .toggle {
    top: 40px;
    right: 25px;
  }
  .prev,
  .next {
    padding: 10px;
    font-size: 1.5rem;
  }
  .next {
    right: 15px;
  }
  .prev {
    left: 15px;
  }

  .article-image img {
    width: 250px;
  }
  .article-info {
    width: 100%;
    text-align: center;
  }
  .article-info h5 {
    margin: 30px 0;
  }
  .article-info p {
    line-height: 1.5;
    font-size: 1.3rem;
  }
  .btn-main {
    padding: 0.5rem 1rem;
  }
  h1 {
    line-height: 1.3;
  }
  h3 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.3rem;
  }
  .p-main {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .down {
    bottom: 2%;
    font-size: 1.4rem;
  }
}
